<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Register</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="h-screen w-full"
        style="background-image: url('images/library-background.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="flex flex-col items-center justify-center h-screen">
            <div class="bg-white shadow rounded lg:w-1/3  md:w-1/2 w-full p-10">
                <p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800">Register to
                    Library</p>
                <div class="mt-6 w-full">
                    <label for="name" class="text-sm font-medium leading-none text-gray-800">
                        Full Name
                    </label>
                    <input id="name" type="text" name="name"
                        class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" />

                </div>
                <div class="mt-6">
                    <label for="username" class="text-sm font-medium leading-none text-gray-800">
                        Username
                    </label>
                    <input aria-labelledby="username" type="text" id="username" name="username"
                        class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" />
                </div>
                <div class="mt-6 w-full">
                    <label for="password" class="text-sm font-medium leading-none text-gray-800">
                        Password
                    </label>
                    <div class="relative flex items-center justify-center">
                        <input id="password" type="password" name="password"
                            class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" />
                        <div class="absolute right-0 mt-2 mr-3 cursor-pointer" onclick="togglePasswordField()">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg5.svg" alt="viewport">
                        </div>
                    </div>
                </div>
                <div class="mt-8">
                    <button role="button" onclick="post()"
                        class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full">Register</button>
                </div>
                <div class="w-full flex items-center justify-between py-5">
                    <hr class="w-full bg-gray-400">
                    <p class="text-base font-medium leading-4 px-2.5 text-gray-400">OR</p>
                    <hr class="w-full bg-gray-400  ">
                </div>
                <p tabindex="0" class="focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500">Already
                    have an account ? <a href="/login"
                        class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none  text-gray-800 cursor-pointer">
                        Login Here</a></p>
            </div>

        </div>
    </div>

</body>
<script>
    function togglePasswordField() {
        password.type == "text" ? password.type = "password" : password.type = "text";
    }

    if (typeof message != 'undefined') {
        alert(message);
    }

    function post() {

        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: document.getElementById('name').value,
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            })
        })
            .then(
                response => {
                    if (response.status == 200) {
                        alert('Registered successfully')
                        window.location.href = '/login'
                    }
                    else if (response.status == 409) {
                        alert('Username already exists')
                    }
                    else {
                        alert('Something went wrong')
                    }
                }
            )
    }
</script>

</html>